.form-container
    .form 
        .input_fields 
            label
                b Username 
            input(type="text", placeholder="Enter Username", name="username")
            label
                b Password 
            input(type="password", placeholder="Enter Password", name="password")
        .error_fields 
            p.err
        .button_fields 
            button.signUp Sign up 
            button.logIn Login
