.null{
    height: 7px;
    background-color: yellow;
}
body{
    margin: 0px;
}
.zero{
    height: 72px;
    background-color:turquoise;
}
#one{
    margin-left: 100px;
display: inline;
}
.two{
    line-height:3.1;
    font-size: 21px;
float: right;
}
nav span{
    padding: 24px;
}
.ref:hover{
    color:goldenrod;
}
.ref{
    text-decoration: none;
    color:black;
}
.call{
    background-color: blue;
}
.four{
    line-height:3.45;
    font-size: 21px;
float: right;
}
.contact{
    text-decoration: none;
    color: gold;
}
.contact:hover{
    color: white;
}
.image{
    height: 750px;
    width: 1349px;
}
.content{
margin: 90px;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 50px;
}
.first{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1d87;
}
.second{
    color: #0a0a2f;
    font-size: 43px;
}
.third{
    color: #7f7f8f;
    margin: 13px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fourth{
    color: #7f7f8f;
    margin: -8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}
.fifth{
    color: #0a0a2f;
    font-size: 43px; 
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
}
.box1{
  background-color: lightgrey;
  width: 350px;
  border: 2px solid rgb(121, 121, 124);
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px;
    border-radius: 8px;
    height: 510px;
    box-shadow: rgba(0, 0, 0, 0.5);
}
.box1:hover{animation-name: example3;
    animation-duration: 0.5s;
  }
  @keyframes example3{
    from{width: 350px; height: 510px;}
    to{width: 365px; height: 525px; } 
  }
.box11{
    width: 350px;
    height: 260px;
    margin-bottom: 10px;
}
.box12{
    padding: -10px;
    margin: 10px;
}
.box13{
    margin-bottom: -5px;
    font-size: 22px;
    color: blue;
}
.box14{
    margin-bottom: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
}
.box15{
font-size: 20px;
color:  #424255 ;
font-family: Arial, Helvetica, sans-serif;
}
.box2{
    background-color: lightgrey;
    width: 350px;
    border: 2px solid rgb(121, 121, 124);
      display: flex;
      flex-direction: column;
      box-shadow: 10px 10px;
      border-radius: 8px;
      height: 510px;
  }
  .box2:hover{animation-name: example2;
    animation-duration: 0.5s;
  }
  @keyframes example2{
    from{width: 350px; height: 510px;}
    to{width: 365px; height: 525px; } 
  }
  .box21{
      width: 350px;
      height: 260px;
      margin-bottom: 10px;
  }
  .box22{
      padding: -10px;
      margin: 10px;
  }
  .box23{
      margin-bottom: -5px;
      font-size: 22px;
      color: blue;
  }
  .box24{
      margin-bottom: 1px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 27px;
  }
  .box25{
  font-size: 20px;
  color:  #424255 ;
  font-family: Arial, Helvetica, sans-serif;
  }
  .box3{
    background-color: lightgrey;
    width: 350px;
    border: 2px solid rgb(121, 121, 124);
      display: flex;
      flex-direction: column;
      box-shadow: 10px 10px;
      border-radius: 8px;
      height: 510px;
  }
  .box3:hover{animation-name: example1;
    animation-duration: 0.5s;
  }
  @keyframes example1{
    from{width: 350px; height: 510px;}
    to{width: 365px; height: 525px; } 
  }
  .box31{
      width: 350px;
      height: 260px;
      margin-bottom: 10px;
  }
  .box32{
      padding: -10px;
      margin: 10px;
  }
  .box33{
      margin-bottom: -5px;
      font-size: 22px;
      color: blue;
  }
  .box34{
      margin-bottom: 1px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 27px;
  }
  .box35{
  font-size: 20px;
  color:  #424255 ;
  font-family: Arial, Helvetica, sans-serif;
  }
  footer{
      margin-top: 50px;
      height: 35px;
      background-color: turquoise;
      text-align: center;
  }
  .foot{
    line-height: 2.2;
    color: rgb(46, 46, 59);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
