.clock {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    text-align: center;
}

.clock__frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.clock__frame > div {
    margin: 5px;
}