.clock__frame 
    .hour 10
    .tick :
    .minute 23
    .tick :
    .second 45
    .meridiem AM 
.clock_buttons(style=`display: ${visibility};`)
    button.reset Reset 
    button.start Start 
    button.stop Stop
